[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
Assets/AssetStoreTools*
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
.DS_Store
Thumbs.db

# Allow WebGL build on Pages
!docs/Build/
!docs/Build/**
!docs/TemplateData/
!docs/TemplateData/**
!docs/*.html
